<h2>Editar agencia <%= @agency.name%></h2>

<%= form_for @agency, url: car_path, method: :put do |a| %>
<%= render "agencies/form.html.erb", a: a %>
  <div class="fields">
    <%= a.submit "Guardar" %>
  </div>
<% end %>
